<p>Hello: {{ username }} 
{% ifequal instructor "yes" %}
(Instructor)
{% endifequal %}
from {{ course }}</p>
{% ifnotequal msg None %}
<p>{{ msg }}</p>
{% endifnotequal %}
<form method="post" action="{{ request.path }}">
<p>Enter Guess: <input type="text" name="guess"/></p>
<p>Enter Name (opt): <input type="text" name="name"/></p>
<p><input type="submit"></p>
</form>
{% ifnotequal ave None %}
<p>Average: {{ ave }} Count: {{count}} </p>
{% endifnotequal %}
{% ifnotequal data None %}
<pre>
{{ data }}
</pre>
{% endifnotequal %}
