{% extends "_base.html" %}

{% block bodycontent %}
<h2>Developer List</h2>
<h2>Documentation</h2>
<p>You can download the 
<a href=http://www.dr-chuck.com/simplelti/simple_lti_v10.pdf>
Developer Documentation</a>
which explains the Simple LTI protocol and how to comply with the protocol.
<h2>Sample Source Code</h2>
<p>You can download a set of <a href=static/code.zip>sample source code</a>
in Java, Python, Perl, Php, and Ruby that shows now to handle both the
client and server aspects of the protocol.  The sample code is really
just a set of building blocks. Each is self contained and simply runs
from the command line.
</p>
{% endblock %}

