{% extends "_base.html" %}
{% block bodycontent %}
<h2>Simple Learning Tools Interoperability</h2>
<!--
<object align="right" width="325" height="269"><param name="movie" value="http://www.youtube.com/v/z0EOgV1HuYQ&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/z0EOgV1HuYQ&hl=en&fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="325" height="269" align="right"></embed></object>
-->
<object align="right" width="325" height="269"><param name="movie" value="http://www.youtube.com/v/z0EOgV1HuYQ&hl=en&fs=1&color1=0x006699&color2=0x54abd6"></param><param name="allowFullScreen" value="true"></param><embed align="right" src="http://www.youtube.com/v/z0EOgV1HuYQ&hl=en&fs=1&color1=0x006699&color2=0x54abd6" type="application/x-shockwave-flash" allowfullscreen="true" width="325" height="269"></embed></object>
<p>
<strong>New:</strong> I have completed the first version of the 
test harness for a SimpleLTI descriptor in an IMS Common Cartridge.  
</p>
<p>
<strong>New:</strong> An open source implementation of this spec is available for 
Microsoft SharePoint at
<a href=http://www.codeplex.com/LTIWebPart>http://www.codeplex.com/LTIWebPart</a> - 
this was developed by <a href=http://www.learngauge.com>LearnGauge</a>.
</p>
<p>
<strong>New:</strong> Sample code for .NET is available in the <a href=/download.htm>download section</a>.
</p>
<p>
In anticipation of IMS Learning Tool Interoperability Version 2.0 spec, 
I have developed a simple approach that can quickly be used to integrate 
externally hosted tools into Learning Management Systems.  
</p>
<p>
This site is written in Python and is running on the Google Application engine.
</p>
{% endblock %}

