{% extends "_base.htm" %}
{% block bodycontent %}
<a href="http://www.cloudcollab.com"><img align=right width="80" src="/static/images/cloudcollab.jpg" border=0></a>
<h2>ScreenShots</h2>
<p>
These are some screen shots of the Wisdom of Crowds application running
using SimpleLTI in Sakai and in the cloudcollab portal.  
Both use IMS Simple Learning Tools Interoperability as both 
the Single-Sign-On and roster provisioning mechanism.
</p>
<p>
The Wisdom of Crowds Tool - running in Sakai using Simple LTI.
</p>
<center>
<img src="/static/images/wisdom-lti-01.jpg" width=600>
<p>
The Wisdom of Crowds Tool - running in the local portal.
</p>
<img src="/static/images/wiscrowd-appspot-lti-01.jpg" width=600>
</center>
{% endblock %}
