{% extends "_base.html" %}
{% block bodycontent %}
<h1>Screenshots</h1>
<p>
These are screenshots of software which implements the SimpleLTI 
Specification.  
</p>
<center>
<h2>SimpleLTI as an Activity in Moodle</h2>
<img src="/static/images/ims-lti-moodle-activity.png" width="600"><br>
Image Courtesy of Jordi Piguillem Poch Working with the 
<a hef=http://www.sakaiproject.org/soc2008>IMS/Sakai Summer of Code 2008</a>
<h2>Configuring Sakai to Export tools using LTI</h2>
<img src="/static/images/ims-lti-sakai-producer-01.png" width="600"><br>
Image Courtesy of Katherine Edwards Working with the 
<a hef=http://www.sakaiproject.org/soc2008>IMS/Sakai Summer of Code 2008</a>
<h2>SimpleLTI As a Tool in Dokeos</h2>
<img src="/static/images/simplelti_dokeo.jpg" width="600"><br>
Image Courtesy of Daniel De Seuil
<a href=http://www.dokeos.com>www.dokeos.com</a>
<h2>SimpleLTI Integrating SAMS Homework Management</h2>
<img src="/static/images/sams-01.png" width="600"><br>
Image Courtesy of David Pang and the University of Michigan College 
of Literature, Arts and Sciences (LSA).
<h2>SimpleLTI as a Filter in Moodle</h2>
<img src="/static/images/ims-lti-moodle-filteractived.png" width="600"><br>
<img src="/static/images/ims-lti-moodle-filter.png" width="600"><br>
Images Courtesy of Jordi Piguillem Poch Working with the 
<a hef=http://www.sakaiproject.org/soc2008>IMS/Sakai Summer of Code 2008</a>
</center>
<p>
You can also see some 
<a href="/earlyshots.htm">screen shots from earlier prototypes of LTI</a>.
</p>
{% endblock %}

