{% extends "_base.html" %}
{% block bodycontent %}
<h2>IMS Common Cartridge / SimpleLTI Test Harness</h2>
<p>
This form allows you to upload a IMS Common Cartridge with a SimpleLTI descriptor.
The test harness will read through the cartridge searching for SimpleLTI 
descriptors.  For each descriptor it will make a small form to allow you to 
launch the content contained in the descriptor.  If the test harness encounters errors, 
it will let you know what it things is wrong with the cartridge.
</p>
<p>
This only tests SimpleLTI entries in the cartridge for validity - it assumes the rest of the 
cartridge already validates.
</p>
<p>
<form action="/upload" method="post" enctype="multipart/form-data"> 
<fieldset>
<legend>Select your IMS CC file</legend>
<input type="file" name="file" size="50"/ >
<input type="submit" value="Upload file">
</fieldset>
</form>
</p>
<h2>Sample IMS Common Cartridge With a Simple LTI Dessciptor</h2>
<p>
We also provide a sample cartridge for you to look at.  You can download this sample cartridge and re-upload
it to see how the test harness works.
</p>
<p>
<strong>Sample IMS Cartridge with SimpleLTI:</strong>
<a href="static/CC-SimpleLTI-Sample-V04.zip"> Download Cartridge</a>
</p>
<h2>Sample Output of a Test</h2>
<p>
This is what a succesful test looks like:
</p>
<pre>Welcome to IMS CC/SimpleLTI Test Harness - comments to cseverance@imsglobal.org
Upload size: 19192
Opening imsmanifest.xml
Found 8 resources in the manifest...
Searching for Tool Interoperability Resources (imstiptdd_xmlv1p0)...
Found IMC CC Resource with type of imstiptdd_xmlv1p0
Reading data from: I_00009_R/SimpleLTI.xml
Parsing 681 bytes from file

IMS LTI DESCRIPTOR:
tool_signature=Version 1.0 - 10-Aug-2008 produced by hand
tool_id=simplelti.testlaunch
tool_title=SimpleLTI Lecture
tool_name=LTI
tool_url=http://simplelti.appspot.com/
tool_org_title=IMS Developer Network
tool_org_url=http://www.imsglobal.org/
tool_org_url=http://www.imsglobal.org/
Looking for required launchurl field...
launchurl=http://simplelti.appspot.com/launch/
</pre>
<form action="/dotest" method="post">
<fieldset>
<legend>SimpleLTI Lecture</legend>
<div class="req">Server Url<input type="text" size="40" name="url" 
value="http://simplelti.appspot.com/launch/"/></div><div class="req">Server Url<input type="text" size="40" name="tool_id" 
value="simplelti.testlaunch"/></div><div><input type="submit" value="Start Test"></div>
</fieldset>
</form>
<pre>
Dump of file contents:I_00001_R/ 
I_00001_R/Learning_Objectives.html 2082
I_00003_R/ 
I_00003_R/assessment.xml 57064
I_00004_R/ 
I_00004_R/assessment.xml 63968
I_00005_R/ 
I_00005_R/weblink1.xml 270
I_00006_Media/ 
I_00006_Media/angry_person.jpg 3192
I_00006_R/ 
I_00006_R/discussion.xml 536
I_00009_R/ 
I_00009_R/SimpleLTI.xml 681
I_media_R/ 
I_media_R/smiling_dog.jpg 2535
imsmanifest.xml 3806
</pre>


{% endblock %}

