<script language="javascript" type="text/javascript">
function menu_goto( menuform )
{
    selecteditem = menuform.newurl.selectedIndex ;
    newurl = menuform.newurl.options[ selecteditem ].value ;
    if (newurl.length != 0) {
      location.href = newurl ;
    }
}
</script>
<form action="dummyvalue">
<select name="newurl" onchange="menu_goto(this.form)">
<option value="">----- Select A Panel -----</option>
<option value="{! url_for(action='facebook') !}"
{% ifequal action 'facebook' %}selected="selected"{% endifequal %}
>FaceBook Setup</option>
<option value="{! url_for(action='purge') !}"
{% ifequal action 'purge' %}selected="selected"{% endifequal %}
>Purge Tables</option>
</select>
</form>
<br/>
{{ output }}
