{% extends "_base.htm" %}
{% block bodycontent %}
<a href="http://oreilly.com/catalog/9780596800697/" target="_new">
<img width="163" height="208" 
   style="padding:5px;" 
   src="http://oreilly.com/catalog/covers/9780596800697_cat.gif" 
   border="0" align="right"/>
</a>
<p>
<b>New:</b> The materials from this site are being made into an O'Reilly book titled
<a href="http://oreilly.com/catalog/9780596800697/">Using Google App Engine</a>.
You can take a look at some of the <a href="book.htm">early draft book chapters</a>.
</p>
<p>
This site provides materials to help learn Google App Engine.
Before you start to learn Google App Engine you should be 
basically familiar with the Python programming language.  
</p>
<ul>
<li class="toplevel">
<a href="http://www.pythonlearn.com/install.php" target="_new">
Installing Python and JEdit</a> - We recommend using JEdit as
your programmer editor and it will be used throughout the Podcasts.
<li class="toplevel">
Installing the App Engine and writing your first 
Application.
</li>
<ul>
<li>Macintosh: 
(<a href="/static/chapters/AppEngine-Install-Mac.pdf" target=_new>Handout</a>,
<a href="http://www-personal.umich.edu/~csev/courses/shared/podcasts/2008-mac-appengine-install.mov" target=_new>Screencast</a>,
<a href="http://www.youtube.com/watch?v=MmnrpMuDchU" target="_new">
YouTube</a>)
</li>

<li>Windows Vista: 
(<a href="/static/chapters/AppEngine-Install-Vista.pdf" target=_new>Handout</a>,
<a href="http://www-personal.umich.edu/~csev/courses/shared/podcasts/2008-vista-appengine-install.mov" target=_new>High Quality Screencast</a>,
<a href="http://www.youtube.com/watch?v=93HjHU25Iow" target="_new">
YouTube</a>)
</li>

<li>Windows XP: 
(<a href="/static/chapters/AppEngine-Install-XP.pdf" target=_new>Handout</a>,
<a href="http://www-personal.umich.edu/~csev/courses/shared/podcasts/2008-xp-appengine-install.mov" target=_new>Screencast</a>,
and
<a href="http://www.youtube.com/watch?v=FLj2wCFqx7g" target="_new">
YouTube</a>)
</li>

</ul>
<li class="toplevel">You may want to also 
download the 
<a href="/static/aehelpers.zip">App Engine Helper Scripts</a>.  
This is a script (one for Mac and one for Windows) that
you put in your apps folder to launch the App Engine.  
These scripts simplify setting the paths, etc.  There is 
a README.txt file in the ZIP describing how to use the 
utilities.</li>
<li class="toplevel">
<a href=/static/sample-appengine-apps.zip>Sample 
Applications</a> from the book.
</li>

<li class="toplevel">
The Request Dumper Program - dumps out the HTTP Request Data
(<a href="http://www-personal.umich.edu/~csev/courses/shared/handouts/AppEngine-Dumper.pdf" target="_new">Handout</a>,
<a href="http://www-personal.umich.edu/~csev/courses/shared/podcasts/2008-ae-02-dumper-vista.mov" target=_new>Screencast</a>,
<a href="http://www.youtube.com/watch?v=bp7VWrggyrc" target="_new">YouTube</a>).
</li>
<li class="toplevel">
A Basic Web Application for for Google App Engine
(<a href="/static/chapters/AppEngine-05-WebApp.pdf" target="_new">Handout</a>,
<a href="https://ctools.umich.edu/access/content/group/0ae836b9-7fc9-4060-006f-27b2066ac545/Podcasts/2008-10-22-ae-webapp.mov" target="_new">Screencast</a>,
<a href="http://www.youtube.com/watch?v=xqPVfVk1QgE" target="_new">YouTube</a>).
</li>
<li class="toplevel">
Using HTML Templates in Google App Engine
(<a href="/static/chapters/AppEngine-06-Templates.pdf" target="_new">Handout</a>)
</li>
<li class="toplevel">
Forms and Input Data
(<a href="/static/chapters/AppEngine-05-WebApp.pdf" target="_new">Handout</a>)
</li>
<li class="toplevel">
Sessions
(<a href="/static/chapters/AppEngine-07-Session.pdf" target="_new">Handout</a>)
</li>
<li class="toplevel">
Memory Caching
(<a href="/static/chapters/AppEngine-11-MemCache.pdf" target="_new">Handout</a>)
</li>
<li class="toplevel">
Simple Session Implementation: 
(<a href="/static/util.zip">Utility Code</a> and 
<a href="/static/util-readme.txt" target="_new">Documentation</a>)
</li>
<li class="toplevel">
Data Models
(<a href="/static/chapters/AppEngine-08-DataStore.pdf" target="_new">Handout</a>)
</li>
<li class="toplevel">
Using jQuery and JavaScript
(<a href="/static/chapters/AppEngine-09-Ajax.pdf" target="_new">Handout</a>)
</li>
</ul>
<p>
Materials will be added as they are produced.
</p>
{% endblock %}

