{% extends "_base.htm" %}
{% block bodycontent %}
<br/>
<div style="float:right">
<object width="295" height="244"><param name="movie" value="http://www.youtube.com/v/T34U0Zhdxjw&hl=en&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/T34U0Zhdxjw&hl=en&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="295" height="244"></embed></object>
<br/>&nbsp;<br/>
<center>
<script type="text/javascript">
window.google_analytics_uacct = "UA-423997-9";
</script>
<script type="text/javascript"><!--
google_ad_client = "pub-0127400494105307";
/* 250x250 aelearn, created 9/10/09 */
google_ad_slot = "2704510199";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</center>
</div>
These are supporting materials for the O'Reilly book titled
<a href="http://oreilly.com/catalog/9780596800697/">Using Google App Engine</a>.
This book is aimed at people who want to gain skill in web programming in general 
and the Google App Engine.  The book has been used to support many beginning courses
ranging from High School to College.
</p>
<p>
I see Google App Engine as a way for virtually everyone to have their own interactive
software-based web site regardless of their level of programming skills. 
Increasingly, web programming will simply need to be a competency like mathematics and this book
is dedicated to teaching everyone about Google App Engine.
</p>
<ul>
<!--
<li class="toplevel">
<a href="http://www.pythonlearn.com/install.php" target="_new">
Installing Python and Your Programmer Text Editor</a>
-->
<li class="toplevel">
Installing the App Engine and writing your first 
Application.
</li>
<ul>
<li>Macintosh: 
(<a href="http://www-personal.umich.edu/~csev/courses/appengine/handouts/AppEngine-Install-Mac.pdf" target=_new>Handout</a>,
<!-- Note to self - Vimeo cannot handle these files - so YouTube is what we get -->
<a href="http://www.youtube.com/watch?v=pXXpvBSd5b4" target="_new">Screencast on YouTube</a>,
<a href="http://www-personal.umich.edu/~csev/courses/appengine/podcasts/mac-appengine-install.mov" target=_new>High Quality Download</a>)
</li>

<li>Windows: 
(<a href="http://www-personal.umich.edu/~csev/courses/appengine/handouts/AppEngine-Install-Windows.pdf" target=_new>Handout</a>,
<!-- Note to self - Vimeo cannot handle these files - so YouTube is what we get -->
<a href="http://www.youtube.com/watch?v=Ehl8O2Y6edk" target="_new">Screencast on YouTube</a>,
<a href="http://www-personal.umich.edu/~csev/courses/appengine/podcasts/windows-appengine-install.mov" target=_new>High Quality Download</a>)
</li>

</ul>

<li class="toplevel">
You can download the 
<a href=/static/sample-appengine-apps.zip>Sample 
Applications</a> from the book.
</li>
<li class="toplevel">
The Request Dumper Program - dumps out the HTTP Request Data
(<a href="http://www-personal.umich.edu/~csev/courses/shared/handouts/AppEngine-Dumper.pdf" target="_new">Handout</a>,
<a href="http://www-personal.umich.edu/~csev/courses/shared/podcasts/2008-ae-02-dumper-vista.mov" target=_new>Screencast</a>,
<a href="http://www.youtube.com/watch?v=bp7VWrggyrc" target="_new">YouTube</a>).
</li>
<li class="toplevel">
A Basic Web Application for for Google App Engine
(<a href="/static/chapters/AppEngine-05-WebApp.pdf" target="_new">Handout</a>,
<a href="https://ctools.umich.edu/access/content/group/0ae836b9-7fc9-4060-006f-27b2066ac545/Podcasts/2008-10-22-ae-webapp.mov" target="_new">Screencast</a>,
<a href="http://www.youtube.com/watch?v=xqPVfVk1QgE" target="_new">YouTube</a>).
</li>
<li class="toplevel">
Simple Session Implementation: 
(<a href="/static/util.zip">Utility Code</a> and 
<a href="/static/util-readme.txt" target="_new">Documentation</a>)
</li>
</ul>
<p>
Materials will be added as they are produced.
</p>
{% endblock %}

