{% extends "_base.html" %}
{% block bodycontent %}
<img src="/static/images/cloudcollab.jpg" border="0" height="80" align="right"/>
<p>
This is an experimental starting point for 
launching into 
<a href="http://www.cloudsocial.org" target="_new">CloudSocial</a> enabled content 
using IMS Learning Tools Interoperability.
</p>
<p>
Cohorts can be launched into 
<a href="http://www.cloudsocial.org" target="_new">CloudSocial</a>
content from any source which supports the IMS LTI
protocol.  A more typical launch point will be 
from a traditional Learning Management System
such as Angel or Blackboard
or Collaboration and Learning Environemnt such
as Sakai.
</p>
<p>
Please send any comments or questions to
<a href=http://www.dr-chuck.com>Dr. Chuck</a>
</p>
{% endblock %}
