{% extends "_base.html" %}
{% block bodycontent %}
<a href="http://www.tsugiproject.org/">
<img src="/static/images/tsugi-logo.gif" border="0" height="80" align="left"/>
</a>
<div style="float: right; border:10px;">
<script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>
<!-- Define the div tag where the gadget will be inserted. -->
<div id="div-1228399628442" style="width:282px;border:1px solid #cccccc;"></div>
<!-- Render the gadget into a div. -->
<script type="text/javascript">
var skin = {};
skin['HEIGHT'] = '385';
skin['BORDER_COLOR'] = '#cccccc';
skin['ENDCAP_BG_COLOR'] = '#e0ecff';
skin['ENDCAP_TEXT_COLOR'] = '#333333';
skin['ENDCAP_LINK_COLOR'] = '#0000cc';
skin['ALTERNATE_BG_COLOR'] = '#ffffff';
skin['CONTENT_BG_COLOR'] = '#ffffff';
skin['CONTENT_LINK_COLOR'] = '#0000cc';
skin['CONTENT_TEXT_COLOR'] = '#333333';
skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
skin['CONTENT_HEADLINE_COLOR'] = '#333333';
google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
google.friendconnect.container.renderMembersGadget(
 { id: 'div-1228399628442',
   site: '07239720190948542933'},
  skin);
</script>
</div>
<h2>Collaboration and Learning</h2>
      {% ifnotequal error None %}
       <p>
       {{ error }}
       </p>
      {% endifnotequal %}
<p>
Welcome to CloudCollab.com.  This is a login server for IMS Simple
Learning Tools Interoperability.  
</p>
<p>This server uses IMS Simple LTI to launch you into:
<ul>
<li>CloudSocial-enabled web content with the "pop-up" LMS.</li>
<li>The CloudCollab Demo LMS and tool set which uses IMS Simple 
LTI as its Single-Sign-On</li>
</ul>
The steps are: (1) log in to this server using your Google credentials and (2) 
go to the launch page and launch content.
<p>
When you log in to CloudCollab you will be asked for your Google ID/PW.  
Look at the URL - this is really Google.  Rest assured that the only 
thing that CloudCollab knows about you after you log in is your 
E-Mail address and nickname and the fact that you have logged in.   
We are given no other data from Google.
<p>
This site also is participating in the Beta of 
<a href="http://www.google.com/friendconnect/" target="_new">Google
Friend Connect</a>.  Please join the FriendConnect site at left to 
get the best experience as some of the CloudCollab tools are 
Friend Connect Widgets.
<p>
This site is written in Python and is running on the 
<a href="http://code.google.com/appengine/" target="new">
Google Application Engine</a>.
</p>
<p>
Questions and comments to <a href=http://www.dr-chuck.com/>Dr. Chuck</a>
</p>
{% endblock %}
