<p>Hello: {{ context.getUserName }} 
{% if context.isInstructor  %}
(Instructor)
{% endif %}
from {{ context.getCourseName }}</p>
{% if notice %}
  <p>{{ notice }}</p>
{% endif %}
{% if msg %}
<p>{{ msg }}</p>
{% endif %}
{! form_tag(action='play') !}
{% ifequal player 'true' %}
<p>Chips To Put in The Pot: <input type="text" name="chips"/></p>
{% endifequal %}
{! form_button('Check', action='view') !}
{% if context.isInstructor %}
  {! form_button('Reset', action='reset') !}
{% endif %}
{% ifequal player 'true' %}
{! form_submit('Play') !}
{% else %}
{% if joinbutton %}
 {{ joinbutton }}
{% endif %}
{% endifequal %}
</form>
{% ifequal showstatus 'true' %}
<div id="messagescontent">
          Loading...
</div>
<script>
function updateMsg() { 
$.ajax({
  url: "{! ajax_url(action='messages') !}",
  cache: false,
  success: function(html){
    $("#messagescontent").html(html);
  }
 }); 
 setTimeout('updateMsg()', 10000); 
}
updateMsg();
</script>
{% else %}
<p>
{{ status }}
</p>
{% endifequal %}
<p>In this game, there are four turns.  In each turn you can give any amount of your
tokens.  At the end of each round, the pot is multiplied by 1.6 and divided 
amongst the players.</p>
