<p>Hello: {{ context.getUserName }} 
{% if context.isInstructor %}
(Instructor)
{% endif %}
{% if context.getCourseName %}
from {{ context.getCourseName }}
{% endif %}
{% if context.launch.launch_type %}
via {{ context.launch.launch_type }}
{% endif %}
</p>
{% if msg %}
<p>{{ msg }}</p>
{% endif %}
{! form_tag(action="play") !}
<p>Enter Guess: <input type="text" name="guess"/></p>
<p>Enter Name (opt): <input type="text" name="name"/></p>
<p>
{! form_submit('Guess') !}
{% if context.isInstructor %}
{! form_button('Reset Game Data', action='reset') !}
{% endif %}
</p>
</form>
{% if ave %}
<p>Average: {{ ave }} Count: {{count}} </p>
{% endif %}
{% if data %}
<pre>
{{ data }}
</pre>
{% endif %}
