<p>Hello: {{ username }} 
{% ifequal instructor "yes" %}
(Instructor)
{% endifequal %}
from {{ course }}</p>
{% ifnotequal resetaction None %}
      <button onClick="window.location='{{ resetaction }}'; return false;">
        Reset
      </button>
{% endifnotequal %}
{% ifnotequal joinaction None %}
      <button onClick="window.location='{{ joinaction }}'; return false;">
        Join
      </button>
{% endifnotequal %}
{% ifnotequal msg None %}
<p>{{ msg }}</p>
{% endifnotequal %}
{% ifnotequal playaction None %}
<form method="post" action="{{ playaction }}">
<p>Chips To Put in The Pot: <input type="text" name="chips"/></p>
<p><input type="submit"></p>
</form>
{% endifnotequal %}
{% ifnotequal ave None %}
<p>Average: {{ ave }} Count: {{count}} </p>
{% endifnotequal %}
{% ifnotequal data None %}
<pre>
{{ data }}
</pre>
{% endifnotequal %}
<div id="messagescontent">
          Loading...
</div>
<script>
function updateMsg() { 
$.ajax({
  url: "{{ messagesaction }}",
  cache: false,
  success: function(html){
    $("#messagescontent").html(html);
  }
 }); 
 setTimeout('updateMsg()', 4000); 
}
updateMsg();
</script>
<p>In this game, there are four turns.  In each turn you can give any amount of your
tokens.  At the end of each round, the pot is multiplied by 1.6 and divided 
amongst the players.</p>
