{% extends "_base.html" %}

{% block bodycontent %}
<p>
In anticipation of IMS Learning Tool Interoperability Version 2.0 spec,
I have developed a simple approach that can quickly be used to integrate
externally hosted tools into Learning Management Systems.
</p>
<p>
There is also work underway to add support for this protocol to other learning
management systems such as Angel, Moodle, Kewl3, SharePoint and others.  The
benefit is that when a tool works with the Simple LTI – the tool can work
in these other environments.
</p>
<P>
The idea is to try to get the development of Functionality mash up approaches
to tool integration jump-started.  This approach allows us to mash up tools
into multiple learning management systems before the IMS specification is
finalized.  This effort will also help in identifying use cases and
engineering issues in tool interoperability in general.
</p>
<p>
The ideas, problems,
and issues identified in this initial work will be fed back into the IMS
LTI working group.  When the IMS LTI effort finishes its standard - it will be
much broader than this specification.  I expect that once IMS LTI is more mature
it will be quite natural to move from Simple LTI to IMS LTI.
</p>
This work is part of the
<a href=http://www.sakaiproject.org/soc2008/>the Sakai/IMS Google 
Summer of Code</a> effort.
</p>
<p>
It is important to acknowledge the contributions to the ideas in this document from the efforts of Marc Ritter and Bruno Van HaetsDaele of Wimba (www.wimba.com) as well as Bob Alcorn and Lance Neumann of BlackBoard (www.blackboard.com).   Kellan Wampler and David Mills of Angel contributed to the IMS Common Cartridge Section. I very much appreciate that the Sakai/IMS Google Summer of Code (2008) students Katherine Edwards and Jordi Piguillem Poch were tolerant of this document as it morphed and changed as we developed prototypes all summer.
</p>
<p>
<a href=http://code.google.com/appengine/>
<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" align="right" border="0"/>
</a>
This site is written in Python and is running on the Google Application engine.
</p>
<p>
Please send any comments or questions to
<a href=http://www.dr-chuck.com>Dr. Chuck</a>
</p>

{% endblock %}

