{% extends "_base.htm" %}
{% block bodycontent %}
<a href="http://www.cloudcollab.com" target=_new><img align=right width="80" src="/static/images/cloudcollab.jpg" border=0></a>
{% ifnotequal fragment None %}
{{ fragment }}
{% else %}
{% ifnotequal user None %}
<p>You are now successfully logged in - this system has the following tools:</p>
<ul>
          {% for tool in tools %}
          <li>
            <a href="/portal{{tool.path}}">{{tool.title}}</a>
            <a href="{{tool.path}}" target=_new style="color: gray; font-size: small;">(fragment-only)</a>
            <p>{{ tool.desc }}
          </li>
          {% endfor %}
</ul>
<hr/>
<p style="color: gray; font-size: small;">
The "fragment-only" option shows the tool without any portal navigation.  This is how it
will look when it is embedded into another LMS.  You can embed this tool into any LMS
which suports Simple LTI by using the fragment url with the proper password.  The fragment
url handles both the LTI web service protocol interactions as well as 
the actual tool fragment and interaction when the tool is running in the browser.
</p>
<hr/>
<p>
Here is the information we know about you from the launch.  
User: {{username}} Course: {{coursename}} Role: {{role}}
</p>
<p>
The following is a dump of the output of the LTI run-time
data structures.  It is helpful in case you want to 
look are doing development and want to look 
more deeply into some of the information available
to your LTI tool at
run-time.  The most important bits of this are
available as convienence methods on the LTI object.
<div style="color: gray; font-size: small;">
<pre>
{{ dump }}
</pre>
</div>
</p>
{% else %}
<p>
Welcome to the very simple test framework for Simple IMS Learning Tools Interoperability (LTI).
This looks like an LMS - but really it is intended to be launched from another LMS using the
IMS SimpleLTI protocol.  The IMS SimpleLTI protocol is a REST-style protcol allowing an 
LMS system and a Learning Tool to establish trust, exchange identity information, user roles, 
and exchange information about course context.  Once this information is exchanged - tools have
access to the information and can operate accordingly.
<p>
<p>
If you log in to this system, it looks really complex - because it is not just a log in - on the
"login" screen - you effextively completely set all of the security, user, course, and role 
information and then launch into the software.  This is not fake - the form does a POST to the 
IMS Simple LTI framework built into this application - the *exact same POST* as comes from a normal
LMS such as Sakai when Sakai is doing a Simple LTI launch. 
</p>
<p>
You can change any of the values on the log in form to test the system witgh 
different users, roles, courses, etc.  If you don't change anything - you log in as Chuck
and a student in SI301 at the University of Michigan.
</p>
<p>
The IMS Learning Tools Interoperability and Simple LTI are being developed by the
<a href="http://www.imsglobal.org/" target="_new">www.imsglobal.org</a>.  If you are interested
in standards and interoperability for teaching and learning technology you may want to become
involved in IMS.
</p>
<p>
Questions and comments to <a href=http://www.dr-chuck.com/>Dr. Chuck</a>
</p>
{% endifnotequal %}
{% endifnotequal %}
{% endblock %}
