{% extends "_base.html" %}

{% block bodycontent %}
<a href=http://code.google.com/appengine/>
<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" align="right" border="0"/>
</a>
<h2>Simple LTI Test Client</h2>
<p>Click <a href=/teststart.htm>here</a> to use the Simple LTI Client.
It is a form with sample form-post values.  You can either post the 
values to this server - or post them to your own server.
Since the Simple LTI uses simple POST parameters - you can even save the HTML
from this form and make your own test form on your computer.
</p>
<h2>Simple LTI Service EndPoint</h2>
<p>You can send launch requests to this URL:</p>
<p><b>{{ url }}/launch</b> </p>
<p>The shared secret is always <b>secret</b></p>
<p>You must send post data to the URL according to the 
<a href="dev.htm">developer documentation</a>.
This service is written in Python and hosted a Google's
free Aplication Engine site.  (Thanks Google).
</p>
<h2>IMS Common Cartridge/SimpleLTI Test Harness</h2>
<p>You can play with the <a href="upload.htm">IMS Common Cartridge Test Harness</a> 
where you can upload a common cartridge with a SimpleLTI descriptor and
see if its syntax verifies.
</p>
{% endblock %}

