<center>
<b>
<p>
This concludes the practice rounds of the experiment.  
<p>
Now you will see the first of two pictures where you will be asked to estimate the person’s weight in pounds.
<p>
The person in class who comes closest to guessing the real weight of the person depicted in the picture will receive $20.  Only one of your guesses will be used to determine whether you win the prize or not.  But this will be random and you will not know which of the two.  For this reason, it is in your best interest to treat each guess as if it were the one that counted.
<p>
{! link_to('Start Contest', action='start') !}
</b>
</center>
