<center>
<b>
<p>
You now have the option of getting advice from another (randomly selected) participant who saw 
the same picture as you in the previous round.  
<p>
Only one of your guesses will be used to determine whether you win the prize or not.  But 
this will be random and you will not know which of the two guesses will be used.  For 
this reason, it is in your best interest to treat both guesses as if it were the one that counted.
<p>
{! link_to('Guess Again with Advice', action='getadvice') !} | 
{! link_to('Guess Again with No Advice', action='guess') !}
</b>
</center>
