<center>
<b>
<p>
Thank you for participating in this experiment.   Please 
read this paper in preparation for class.  Please
do not talk about the paper with other students in 
the class until the experiment has been discussed in class.
<p>
<a href="{! resource_url(action='view', resource='static/Gino-Moore-advice-JBDM-2007.pdf') !}" target=_new">Effects of Task Difficulty on Use of Advice</a>
<p>
FRANCESCA GINO and DON A. MOORE Tepper School of Business, Carnegie Mellon University Organizational Behavior, PA, USA
</b>
</center>
